@import './_variables';

form {
  display: flex;
  gap: 20px;

  input {
    font-size: $formFontSize;
    border-radius: $borderRadius;
    background: $inputBackgroundColor;
    border: none;
    outline: 2px solid #4f5b62;
    color: $textColor;
  }

  button {
    font-size: $formFontSize;
    padding: 10px 20px;
    background: $buttonBackgroundColor;
    color: $buttonTextColor;
    border: none;
    border-radius: $borderRadius;
    cursor: pointer;
    outline: 2px solid #4f5b62;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: rgba(0, 10, 18, 0.3);
    }
  }
}

.err {
  color: $textColor;
  font-size: $formFontSize;
}
