$textColor: rgb(230, 230, 230);
$weatherFontSize: 1.2rem;
$formFontSize: 1.1rem;
$backgroundColor: #263238;
$buttonBackgroundColor: #000a12;
$inputBackgroundColor: #37474f;
$buttonTextColor: white;
$borderRadius: 10px;
